<div class= "container">
  <div style= "float:left">
    <%=link_to feed_path(uid: @tumbles["blog"]["name"], type: "TumblrFeed"), method: :post do %>
      <img src="<%= "http://api.tumblr.com/v2/blog/#{@tumbles["blog"]["name"]}.tumblr.com/avatar/512" %>" style= "width:75px; padding-right: 10px"/
      > 
  </div>
  <div style= "padding-bottom: 4px">
    <%= form_tag feed_path(uid: @tumbles["blog"]["name"], type: "TumblrFeed") do %>
      <%= submit_tag 'Add to Feed', class: "btn btn-primary btn-sm"  %>

    <% end %>
    <% end %>
  </div>
  <div>
    <form action="<%= "#{@url}" %>">
      <input class="btn btn-primary btn-sm" type="submit" value="<%= "View on Tumblr!" %>"
      >
    </form>
  </div>
</div>