<!-- <div class="container">
<h1>Hi, <%= greeting %>!</h1>



  <% if @current_user.posts %>
      <% @all_the_posts.flatten.each do |post| %>
      <div class="<%= post.content_type %>">
        <hr>
        <div id= "author">
          <li><%= if post.author then post.author.html_safe else puts "Unknown Author" end %></li>
        </div>
        <h1><li><%= post.title.html_safe if post.title %></li></h1>
        <div id= "content" >
          <li>
            <% if post.content %>
              <%= post.content.html_safe %> 
              <% if post.content.length > 300 %>
                <%= link_to "See more", post.url %>
              <% end %>
            <% end %>
          </li>
        </div>
        <div id= "date">
          <li><%= post.post_date.strftime("Posted on %B %e, %l:%M %p") if post.post_date %></li><br>
        </div>
      </div>
      <% end %>
  <% else %>
      <h1>Search for new people to stalk!</h1>
  <% end %>
</div>
 -->
