<h3>Search Results</h3>

<% if @rss_feed.class == Fixnum %> 
<div class= "alert alert-danger">
  Invalid feed URL. Please try again.
</div>
<% else %>

<%= form_tag feed_path do %>

<%= @rss_feed.title  %>
<%= hidden_field_tag :uid, @rss_feed.feed_url %>
<%= hidden_field_tag :type, "RssFeed" %>
<%= submit_tag 'Add to Feed', class: "btn btn-primary btn-sm" %>
<% end %>
<% end %>





<!-- 
# add an add button if you want to subscribe (this connects the subscription join table) - will have route that goes to rss controller that goes to create action; uses hidden field that passes params (pass :uid and :type) -name of uid and value of params from that search
# adding saves it to the subscription (and links it to the signed in user;) 

#perhaps more info with title (etag?  check methods available to feedzilla feed) -->