SEARCH RESULTS:
<br>
<br>

<% if @rss_feed.class == Fixnum %> 
  <div class= "alert alert-info">
    Invalid RSS URL feed. <a onclick="textBoxFocus('uid')">Please try again.</a>
  </div>
<% else %>
  <%= form_tag feed_path(uid: params[:uid], type: "RssFeed") do %>
    <%= @rss_feed.title  %>
    <%= hidden_field_tag :uid, @rss_feed.feed_url %>
    <%= hidden_field_tag :type, "RssFeed" %>
    <%= submit_tag 'Add to Feed', class: "btn btn-primary btn-sm" %>
  <% end %>
<% end %>
