<div class="container">
<h1>Hi, <%= @current_user.username %>!</h1>
  <% if @current_user.posts %>
      <% @all_the_posts.flatten.each do |post| %>
      <div class="<%= post.content_type %>">
        <div class="lead author">
          <ul>
            <li>
              <%= if post.author then post.author.html_safe else "Unknown Author" end %>: 
            </li>
          </ul>
        </div>
        <h2><ul>      
          <li>
            <%= link_to strip_tags(post.title), post.url if post.title %>
          </li>
        </ul></h2>
        <div id= "content" >
          <ul>
            <li>
              <% if post.content %>
                <p>
                <%= post.content.html_safe %> 
                <% if post.content.length > 300 %>
                  <%= link_to "See more", post.url %>
                <% end %>
                </p>
              <% end %>
            </li>
          </ul>
        </div>
        <div class= "date">
          <ul>
            <li>
              <h6><%= post.post_date.strftime("Posted on %B %e, %l:%M %p") if post.post_date %></h6>
            </li>
          </ul>
        </div>
      </div>
      <% end %>
  <% else %>
    <h1>Expand your view!</h1>
  <% end %>
</div>
