<!DOCTYPE html>
<html>
<head>
  <title>Stalkmore</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <!-- start search form for tumbles -->
    <%= form_tag tumbles_path,  method: "get", 
                                class:  "navbar-form navbar-left", 
                                role:   "search" do %>
      <div class="form-group">
        <%= text_field_tag :search, "", class: "form-control", placeholder: "Find a Tumblr" %>
      </div>
      <%= submit_tag "Go", class: "btn btn-default" %>
    <% end %> 
    <!-- end search form for tumbles -->
    <!-- start twitter search -->
    <%= form_tag('/twitter/search', method: :get, class: "navbar-form navbar-left", role: "search") do %>
      <div class="form-group">
        <%= text_field_tag :user_name, "", placeholder: "Twitter", class: "form-control" %>
      </div>
      <%= submit_tag 'Go', class: "btn btn-default" %>
    <% end %>
    <!-- end search form for twitter -->

    <!-- start search form for rss -->
     <%= form_tag('/rss/create', method: :get, class: "navbar-form navbar-left", role: "search") do %>
      <div class="form-group">
        <%= text_field_tag :rss_url, "", placeholder: "Add a Feed", class: "form-control" %>
      </div>
      <%= submit_tag 'Go', class: "btn btn-default" %>
    <% end %>
    <!-- end search form for rss -->

    <ul class="nav navbar-nav navbar-right">
      <% if current_user != nil %>
      <li><%= link_to "Sign Out", sign_out_path %></li>
      <% else %>
      <li><%= link_to "Sign In/Up", sign_in_path %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</header>

<%= notice %>
<body>

<%= yield %>

</body>
</html>
